<!-- index.html 
     Grant Wells
     The html frontend of the homepage of Chirper.
     20 February 2025
    -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirper - Home</title>
</head>

<body>
    <h1>Welcome to Chirper</h1>
    <p>A simple microblogging platform. <a href="/accounts/signup" >Sign up</a> or <a href="/accounts/login">log in</a> to start chirping!</p>
</body>

</html>